@font-face {
	font-family: 'IranSans';
	src: local('IRANSansWeb'), url(../fonts/IRANSansWeb_FaNum_Light.woff2) format('woff2'),
    url(../fonts/IRANSansWeb_FaNum_Light.woff) format('woff'),
    url(../fonts/IRANSansWeb_FaNum_Light.ttf) format('truetype')
}

body{
    background-color: #e3e3e3;
    direction: rtl;
    margin: 0;
    font-family: 'IranSans' !important;
    font-weight: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.backgroundTemplate{
    background-image: url('../assets/wireframe.jpg');
    /* height: calc(100vh - 64px); */
    height: 100vh;
    width: 100vw;
    background-repeat: round;
    overflow-x: hidden;
}