
@font-face {
	font-family: 'IranSans';
	src: local('IRANSansWeb'), url(../fonts/IRANSansWeb_FaNum_Light.woff2) format('woff2'),
    url(../fonts/IRANSansWeb_FaNum_Light.woff) format('woff'),
    url(../fonts/IRANSansWeb_FaNum_Light.ttf) format('truetype')
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: -80px;
    top: -80px;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: -30px;
    bottom: -80px;
}
.loginForm{
    height: 520px;
    width: 400px;
    background-color: rgb(0 0 0 / 68%);;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
.loginForm *{
    
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.loginForm h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

.loginLabel{
    font-family: 'IranSans';
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
.loginInput{
    font-family: 'IranSans';
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
.loginTitle{
    text-align: center;
    font-family: 'IranSans';
    font-weight: bold !important;
}
::placeholder{
    color: #e5e5e5;
}
.loginbtn{
    font-family: 'IranSans';
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.social{
  margin-top: 30px;
  display: flex;
}
.social div{
  background: red;
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255,255,255,0.27);
  color: #eaf0fb;
  text-align: center;
}
.social div:hover{
  background-color: rgba(255,255,255,0.47);
}
.social .fb{
  margin-left: 25px;
}
.social i{
  margin-right: 4px;
}

@media only screen and (min-width:480px) and (max-width: 950px) {
.loginForm {
    height: 380px;
    padding: 35px 35px;
    width:365px;
    left:43%;
}
.background{
    height: 200px;
}
.loginbtn{
    margin-top: 0.5rem;
}
}

@media only screen and (min-width:300px) and (max-width:480px) {

.loginForm {
    height: 380px;
    padding: 35px 35px;
    left:48%;
    width:330px;
}
.background{
    height: 200px;
    transform: translate(-36%,-50%);
    left:63%;
}
.loginbtn{
    margin-top: 0.5rem;
}
}
