:root {
    --border-radius: 10px;
  }
  
  .SearchCard {
    padding: 1px;
    border-radius: var(--border-radius);
    background: linear-gradient(-67deg, rgba(#c8d8e7, .7), rgba(255,255,255,.8));
    overflow: hidden;
    box-shadow: 
      -2px -2px 6px rgba(#fff, .6),
      2px 2px 12px #c8d8e7;
    width: 380px;
  }
  
  .SearchCardInner {
    padding: 16px 16px;
    background-color: #e2e9f4;
    border-radius: var(--border-radius);
    font-family: 'IranSans';
  }
  
  .SearchContainer {
    display: flex;
    flex-direction: row;
  }
  
  .Icon {
    min-width: 46px;
    min-height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    margin-right: 12px;
    box-shadow: 
      -2px -2px 6px rgba(#fff, .6),
      2px 2px 12px #c8d8e7;
      
    svg {
      transform: translate(-1px, -1px);    
    }
  }
  
  .labelsearch {
    // font-family: "Hind", sans-serif;
    display: block;
    color: #3c4b66;
    margin-bottom: 12px;
    background: linear-gradient(45deg, rgba(#6b7b8f, 1), #3c4b66);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .InputContainer {
    width: 100%;
  }
  
  .SearchInput {
    background-color: #e3edf7;
    padding: 16px 32px;
    border: none;
    display: block;
    font-family: 'IranSans';
    // font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    color: #a9b8c9;
    -webkit-appearance: none;
    transition: all 240ms ease-out;
    width: 100%;
    
    &::placeholder {
      color: #6d7f8f;
    }
    
    &:focus {
      outline: none;
      color: #6d7f8f;
      background-color: lighten(#e3edf7, 3%);
    }
  };
    
  .InputContainer {
    --top-shadow: inset 1px 1px 3px #c5d4e3, inset 2px 2px 6px #c5d4e3;
    --bottom-shadow: inset -2px -2px 4px #c9d7e6;
    font-family: 'IranSans';
    position: relative;
    border-radius: var(--border-radius);
    overflow: hidden;
    
    &:before,
    &:after {
      left: 0;
      top: 0;
      display: block;
      content: "";
      pointer-events: none;
      width: 100%;
      height: 100%;
      position: absolute;
    }
    
    &:before {
      box-shadow: var(--bottom-shadow);
    }
    
    &:after {
      box-shadow: var(--top-shadow);
    }
  }